# requirements.txt (Versión Final para Vertex AI)
torch
sentence-transformers
pypdf
chromadb
google-api-python-client
google-cloud-storage
google-cloud-aiplatform
fastapi
uvicorn[standard]
markdown-it-py
PyMuPDF
google-generativeai
google-cloud-aiplatform
chromadb